.consulta {
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-left {
  display: flex;
  width: 50%;
  height: 869;
  flex-direction: column;
  justify-content: space-between;
  padding: 83px 142px 21px 56px;
  background: #f5f5f5;
}

.title {
  font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  color: rgb(17, 17, 17);
}

.container-right {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: 83px 76px 21px 116px;
}

.btn-x {
  padding: 16px;
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 1182px;
  display: flex;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;

  color: #820ad1;
  transition: all 0.4s;
}

.btn-x:hover {
  background-color: #cf8cfc;
  color: black;
  transition: all 0.4s;
}
.titulo-responsivo{
  margin: 0px 0px 32px;
  font-weight: 500;
  letter-spacing: -0.03em;
  font-size: 24px;
  line-height: 1.2;
  color: rgb(17, 17, 17);
}

.input-form {
  font-size: 1rem;
  max-width: 100%;
  padding: 1rem 0px;
  position: relative;
  min-height: 96px;
}

.input-card {
  width: 70%;
  border: transparent;
  border-bottom: 1px solid #ccc;
  margin-bottom: 49px;
  display: flex;
  flex-direction: column;
  margin-left: 0%;
  font-size: 12px;
}

label {
  font-size: 15px;
  color: #585858;
}

.container {
  width: 77%;
  display: block;

  position: relative;
  padding-left: 35px;
  margin-bottom: 70px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input~.checkmark {
  background-color: #ccc;
}

.container input:checked~.checkmark {
  background-color: rgb(130, 10, 209);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.btn-submit {
  width: 77%;
  justify-content: center;
  padding: 0 0 0 20px;
  display: flex;
  align-items: center;
  background: #e7e7e7;
  color: white;
  transition: all 0.4s;
  border-radius: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
}

.btn-submit:hover {
  background: rgb(130, 10, 209);
  transition: all 0.4s;
}

@media screen and (max-width :768px) {
  .consulta {
    flex-direction: column;
  }

  .btn-x {
    right: 50%;
    left: 85%;
  }

  .container-left {
    display: none;
  }
  .container-right{
    padding: 83px 24px;
  }
  .container {
    width: 100%;
  }

  .input-card {
    width: 100%;
  }

  .btn-submit {
    width: 100%;

  }
}

@media screen and (min-width :768px){
  .titulo-responsivo{
    display: none;
  }

}