.consulta {
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid red;
  height: 1200px;
  width: 1343px;
}
.container-left {
  display: flex;
  width: 50%;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 83px 142px 21px 56px;
  background: #f5f5f5;
}
.title {
  margin: 0 0 32px;
  font-size: 42px;
}
.container-right {
  display: flex;
  width: 50%;
  height: auto;
  flex-direction: column;
  padding: 83px 12px 21px 56px;
}
.btn-x {
  padding: 16px;
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 200px;
  display: flex;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  margin-left: 70%;
  color: #820ad1;
  transition: all 0.4s;
}
.btn-x:hover {
  background-color: #cf8cfc;
  color:black;
  transition: all 0.4s;
}
.input-card {
  width: 70%;
  border: transparent;
  border-bottom: 1px solid #ccc;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  margin-left: 0%;
  font-size: 12px;
  
}
label{
  font-size: 15px;
}
.input-form {
  margin-bottom: 70px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: rgb(130, 10, 209);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.btn-submit {
  border: 1px solid #c3b2b1;
  width: 50%;
  justify-content: left;
  padding: 0 0 0 20px;
  display: flex;
  align-items: center;
  background: rgb(130, 10, 209);
  color: white;
  border-top: 60px;
  border-radius: 50px;
  height: 50px;
}
